apiVersion: v1
data:
  default_user.conf: ZGVmYXVsdF91c2VyID0gZ3Vlc3QKZGVmYXVsdF9wYXNzID0gZ3Vlc3Q=
  host: cmFiYml0bXEtY2x1c3Rlci5wcm9kLXJvYm90LXNob3Auc3Zj
  password: Z3Vlc3Q=
  port: NTY3Mg==
  provider: cmFiYml0bXE=
  type: cmFiYml0bXE=
  username: Z3Vlc3Q=
kind: Secret
metadata:
  name: rabbitmq-secret
type: Opaque
---
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq-cluster
spec:
  secretBackend:
    externalSecret: 
      name: "rabbitmq-secret"
  replicas: {{ .Values.rabbitmq.replicas }}
  resources:
    requests:
      cpu: 500m
      memory: 2Gi
    limits:
      cpu: 1
      memory: 2Gi
  rabbitmq:
    additionalConfig: |
      cluster_partition_handling = pause_minority
      vm_memory_high_watermark_paging_ratio = 0.99
      disk_free_limit.relative = 1.0
      collect_statistics_interval = 10000
      loopback_users = none
  persistence:
    storageClassName: gp2
    storage: "2Gi"
  {{- with .Values.rabbitmq.tolerations }}
  tolerations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  override:
    statefulSet:
      spec:
        template:
          spec:
            containers: []
            {{- with .Values.rabbitmq.nodeSelector }}
            nodeSelector:
              {{- toYaml . | nindent 14 }}
            {{- end }}