{{- if eq .Values.stack_mode "eks" }}
apiVersion: v1
data:
  default_user.conf: ZGVmYXVsdF91c2VyID0gZ3Vlc3QKZGVmYXVsdF9wYXNzID0gZ3Vlc3Q=
  host: cmFiYml0bXEtY2x1c3Rlci5wcm9kLXJvYm90LXNob3Auc3Zj
  password: Z3Vlc3Q=
  port: NTY3Mg==
  provider: cmFiYml0bXE=
  type: cmFiYml0bXE=
  username: Z3Vlc3Q=
kind: Secret
metadata:
  name: rabbitmq-secret
type: Opaque
---
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq-cluster
spec:
  secretBackend:
    externalSecret: 
      name: "rabbitmq-secret"
  replicas: {{ .Values.rabbitmq.replicas }}
  resources:
    {{- toYaml .Values.rabbitmq.resources | nindent 4 }}
  rabbitmq:
    additionalConfig: |
      cluster_partition_handling = pause_minority
      vm_memory_high_watermark_paging_ratio = 0.99
      disk_free_limit.relative = 1.0
      collect_statistics_interval = 10000
      loopback_users = none
  persistence:
    storageClassName: gp2
    storage: "2Gi"
  {{- with .Values.rabbitmq.tolerations }}
  tolerations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  override:
    statefulSet:
      spec:
        template:
          spec:
            containers: []
            {{- with .Values.rabbitmq.nodeSelector }}
            nodeSelector:
              {{- toYaml . | nindent 14 }}
            {{- end }}
{{ else }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
  labels:
    service: rabbitmq
    app.kubernetes.io/component: rabbitmq
spec:
  replicas: 1
  selector:
    matchLabels:
      service: rabbitmq
  template:
    metadata:
      labels:
        service: rabbitmq
        app.kubernetes.io/component: rabbitmq
    spec:
      {{ if .Values.psp.enabled }}
      serviceAccountName: robot-shop
      {{ end }}
      containers:
      - name: rabbitmq
        image: rabbitmq:3.12
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: tcp-amqp
          containerPort: 5672
        - name: tcp-epmd
          containerPort: 4369
        - name: http-management
          containerPort: 15672
        - name: http-metrics
          containerPort: 15692
        resources:
          limits:
            cpu: 200m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 256Mi
        {{- if .Values.rabbitmq.enableExporter }}
        lifecycle:
          postStart:
            exec:
              command: ["/bin/sh", "-c", "echo [rabbitmq_management,rabbitmq_prometheus]. > /etc/rabbitmq/enabled_plugins"]
        {{- end }}
      restartPolicy: Always
      {{- with .Values.rabbitmq.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.rabbitmq.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.rabbitmq.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
